
body{
	position: relative;
}
.navbarm{
	padding: 20px;
	background-color: rgb(200, 200, 200);
	overflow: hidden;
	/* position: sticky !important; */
	position: fixed !important;
	top: 0;
	width: 100% !important;
}

/* #navbar{} */

.nav-item{
	padding-left: 10px;
	padding-right: 10px;
}

.centered{
	text-align: center;
}

div.justify-content-center{
	justify-content: center !important;
}

.home{
	background-color: #333333;
	background-image: url("C:\\Praful Programing\\Websites\\RMSrobotics\\RidglyTeamWebsite\\images\\rms_pic.png");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 0 3000px #333333dd inset;
}
.home > h1{
	font-size: 88pt;
	color: rgb(199, 199, 199);
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}

.home > h2{
	font-size: 60pt;
	color: rgb(199, 199, 199);
}

