
body{
	position: relative;
}
.navbarm{
	padding: 20px;
	background-color: rgb(200, 200, 200);
	overflow: hidden;
	position: sticky !important;
	top: 0;
	width: 100% !important;
}

.nav-item{
	padding-left: 10px;
	padding-right: 10px;
}

.centered{
	text-align: center;
}

div.justify-content-center{
	justify-content: center !important;
}

.home{
	background-color: red;
}
.home > h1{
	font-size: 117px;
}

